




.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

 

    .search{
        flex: 1;
        padding: 2px 1rem;
        display: flex;
        align-items: center;
        border: 2px solid grey;
        border-radius: 5px;

        input{
            flex: 1;
            outline: none;
            border: none;
            height: 2rem;
        }
        input:focus{
            
            border: transparent;
        }
    }
}