<div class="item">

    <div class="header">
        <span class="title">李公世系表</span>
        <span class="tool"> 详情<img src="assets/icon/icon=chevron-right.svg" alt="" [routerLink]="['detail']" routerLinkActive="router-link-active" ></span>
    </div>
    <div class="content">
        <p>国有史志，人有家谱，史志因国家变革增编不已，家谱由氏族繁衍而续修弗绝，世无百家，焉有一国？不亲其宗，焉爱其国？是故我任氏家谱续修或新立，不惟寻根溯源，晰理支脉，而尤在归集家族史料，辑存先贤珍遗，述论名人懿行，俾使家乘文化之涓涓细流融入民族文化之滔滔江河。</p>
        <p>一族修谱不容偏持宗族私念，唯我独尊，而当惜抱民族总体大观，同心凝聚，竞相促进。</p>
        <p> 须知百家异姓而同出炎黄，自古一家而共缔华夏。兴我家族，强我民族，治我一家，为我国家。此诚聚族立谱宏旨要端也。特立为序言。</p>
        </div>
    <div class="footer">

        <img src="assets/icon/icon=users.svg" alt="">
        <span>177</span>
       
    </div>
    
</div>
<div class="item">

    <div class="header">
        <span class="title">李公世系表</span>
        <span class="tool"> 详情<img src="assets/icon/icon=chevron-right.svg" alt="" [routerLink]="['detail']" routerLinkActive="router-link-active" ></span>
    </div>
    <div class="content">
        <p>国有史志，人有家谱，史志因国家变革增编不已，家谱由氏族繁衍而续修弗绝，世无百家，焉有一国？不亲其宗，焉爱其国？是故我任氏家谱续修或新立，不惟寻根溯源，晰理支脉，而尤在归集家族史料，辑存先贤珍遗，述论名人懿行，俾使家乘文化之涓涓细流融入民族文化之滔滔江河。</p>
        <p>一族修谱不容偏持宗族私念，唯我独尊，而当惜抱民族总体大观，同心凝聚，竞相促进。</p>
        <p> 须知百家异姓而同出炎黄，自古一家而共缔华夏。兴我家族，强我民族，治我一家，为我国家。此诚聚族立谱宏旨要端也。特立为序言。</p>
        </div>
    <div class="footer">

        <img src="assets/icon/icon=users.svg" alt="">
        <span>177</span>
       
    </div>
    
</div>
<div class="item">

    <div class="header">
        <span class="title">李公世系表</span>
        <span class="tool"> 详情<img src="assets/icon/icon=chevron-right.svg" alt="" [routerLink]="['detail']" routerLinkActive="router-link-active" ></span>
    </div>
    <div class="content">
        <p>国有史志，人有家谱，史志因国家变革增编不已，家谱由氏族繁衍而续修弗绝，世无百家，焉有一国？不亲其宗，焉爱其国？是故我任氏家谱续修或新立，不惟寻根溯源，晰理支脉，而尤在归集家族史料，辑存先贤珍遗，述论名人懿行，俾使家乘文化之涓涓细流融入民族文化之滔滔江河。</p>
        <p>一族修谱不容偏持宗族私念，唯我独尊，而当惜抱民族总体大观，同心凝聚，竞相促进。</p>
        <p> 须知百家异姓而同出炎黄，自古一家而共缔华夏。兴我家族，强我民族，治我一家，为我国家。此诚聚族立谱宏旨要端也。特立为序言。</p>
        </div>
    <div class="footer">

        <img src="assets/icon/icon=users.svg" alt="">
        <span>177</span>
       
    </div>
    
</div>


<p-dialog header="New CLAN" [(visible)]="displayBasic" [style]="{width: '90vw'}" [modal]="true">


    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>
    
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Clan Name" [(ngModel)]="cName" />
    </span>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>