

:host{
    display: flex;
    flex-direction: column;
    height: 100vh;

    .layout{
        flex: 1; 
        padding: 2rem 1.5rem;
        overflow-y: scroll;
    }

}



img{
    color: #fff;
    svg{
        stroke: #fff;
    }
}