:host{
    background-color: #f33;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;


    .leftItem, .title, .rightItem{
        height: 24px;
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
     
    }
    .rightItem{
        justify-content: flex-end;
    }

    
    .title{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
        flex: 2;
        justify-content: center;
    }

}


